@import "tailwindcss";

html {
  scroll-behavior: smooth;
  /* This ensures that when you scroll to an ID, 
     the fixed header doesn't cover the title. 
     Adjust '5rem' to match your header height. */
  scroll-padding-top: 80px;
}

/* CRITICAL: This tells Tailwind to activate 'dark:' when .dark is on <html> */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* This link helps Tailwind recognize your custom variant in the build */
  --variant-dark: .dark &;
}

@layer base {
  html,
  body {
    /* 1. Remove the 'background' property if you have one! Use @apply instead. */
    @apply min-h-screen transition-colors duration-500;

    /* 2. Set the default light and dark colors here */
    @apply bg-slate-50 text-slate-900;
    @apply dark:bg-gray-950 dark:text-white;
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    .line-clamp-2 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
